AllowUsers runner

# Disable password authentication
PasswordAuthentication no

# Enable public key authentication
PubkeyAuthentication yes

# Host keys
HostKey __PROGRAMDATA__/ssh/ssh_host_ed25519_key
HostKey __PROGRAMDATA__/ssh/ssh_host_ecdsa_key
HostKey __PROGRAMDATA__/ssh/ssh_host_rsa_key

# Logging
SyslogFacility LOCAL0
LogLevel INFO

# Security
StrictModes yes
MaxAuthTries 3

# Admin users use administrators_authorized_keys (must be at end)
Match User runner
    AuthorizedKeysFile __PROGRAMDATA__/ssh/administrators_authorized_keys
